.sidebar {
    width: '100%';
    max-width: 360px;
    background-color: red,
    &_link {
        color: 'inherit';
        text-decoration: 'none';
    }
}

.header {
    flex-grow: 1;
}

.title {
    flex-grow: 1;
}

.sidebar_list {
    &__link {
        color: inherit;
        text-decoration: none;
    }
    .active > li {
        background: red !important;
    }
}